body{
    display: flex;
    flex-direction: column;
}

#name{
    align-self: center;
}

#game-try{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin-right: 50px;
}

#game-pane{
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    width: 100%;
}

td{
    border: 5px solid blue;
    height: 100px;
    background-color: white;
    width: 100px;
    text-align: center;
}

#gamePanel{
    width: 500px;
}

#div-form{
    margin-left: 20px;
}

form{
    display: flex;
    flex-direction: column;
}

input{
    margin-bottom: 10px;
}

input[input="radio"]{
    vertical-align: middle;
}

input[type="text"]{
    width: 50px;
}

input[type="submit"]{
    width: 100%;
}


/* onCLick */

.pulsado{
    color: blue;
}

